# name: Self Runner Workflow
# on:
#   push:
#     branches:
#       - main
# jobs:
#   build:
#     runs-on: self-hosted
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3
#       - name: Run a one-line script    
#         run: echo "This is running on a self-hosted runner!"

name: Self Runner Workflow
on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Verify IAM Role
        run: aws sts get-caller-identity

      - name: Create S3 Bucket
        run: |
            BUCKET="my-bucket-${{ github.run_id }}"
            echo "Using bucket: $BUCKET"
            aws s3api create-bucket \
              --bucket "$BUCKET" \
              --region us-east-1

      - name: Upload sample file
        run: aws s3 cp ./s3-upload.txt s3://$BUCKET/
